[package]
name = "uefi-async"
version = "0.1.5"
edition = "2024"

[features]
default = [ "alloc" ]
static = [ "dep:static_cell", "dep:spin", "dep:num_enum" ]
embassy-backend = [ "static", "dep:embassy-executor" ]
alloc = [ "uefi/alloc", "dep:st3" ]
global-allocator = [ "alloc", "dep:spin", "dep:talc" ]
nya = [ "global-allocator" ]

[dependencies]
uefi = "0.36.1"
uefi-async-macros = { path = "../macros" }

# no-alloc
static_cell = { version = "2.1.1", optional = true }
embassy-executor = { version = "0.9.1", optional = true }
num_enum = { version = "0.7.5", optional = true, default-features = false, features = [ "complex-expressions" ] }


# alloc
st3 = { version = "0.4.1", optional = true }
talc = { version = "4.4.3", optional = true, default-features = false, features = ["lock_api"] }
spin = { version = "0.10.0", optional = true, features = ["lock_api"] }
