[package]
name = "uefi-async"
version = "0.1.0"
edition = "2024"

[features]
default = []
safe = []

[dependencies]
uefi = { version = "0.36.1", features = ["logger", "alloc", "global_allocator", "panic_handler"] }
uefi-async-macros = { path = "../macros" }
